//---------------------------------------------------------------------------
//
// Name:        Def_MTOApp.rc
// Author:      titan
// Created:     15/12/2015 13:36:50
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
